body{
    background-color: rgb(255, 251, 237);
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    background-color: rgb(249, 199, 141);
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
}

a:link{
    text-decoration: none;
    color: #4f2d01;
    transition: color 0.4s;
}

a:hover{
    color: rgb(249, 199, 141);
}
